In [13]:
## Data Science Masters Session 9 Assignment 
import pandas as pd
import numpy as np
import os


df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
## Data Science Masters Assignment 9 Session 9 Q2 Show the distribution of male and female
df.groupby(['Gender']).count()

        Unnamed: 0      Id    Name    Year   State   Count
Gender
F           558846  558846  558846  558846  558846  558846
M           457549  457549  457549  457549  457549  457549